##MSBA Bootcamp

In [ ]:

#string[start:stop:step]
#// -> integer division
a=3
b=4
c = (a**2 + b**2)**0.5
print(c)

5.0

In [ ]:
num1,num2= input("Inital value of num1,num1: ").split()
num1 = int(num1)
num2 = int(num2)

In [ ]:
#print the greatest among three numbers
a,b,c= int(input("Which is largest among the three numbers")).split()
largest_num=c
if a>=b>c:
    largest_num=a
    print(largest_num)
elif b>=a>c:
    largest_num=b
    print(largest_num)
else:
    largest_num=c
    print(largest_num)

In [8]:
%pip install numpy

90671.78s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/utkarshtyagi/Documents/VSC/Dataset/occupation.csv')
print(df.head())
# Print first 25 rows
print(df.head(25))

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213
    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

In [15]:
%pip install seaborn

93252.99s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from seaborn) (2.3.1)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from seaborn) (2.3.1)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.2-cp313-cp313-macosx_11_0_arm64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.59.0-cp313-cp313-macosx_10_13_universal2.whl.metadata (107 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl.metadata (6.2 kB)
Requirement already satisfied: packaging>=20.0 in /Users/utkarshtyagi/Library/Python/3.13/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.3.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/utkarshtyagi/Library/Python/3.13/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/utkarshtyagi/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.3-cp313-cp313-macosx_11_0_arm64.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 18.9 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.2-cp313-cp313-macosx_11_0_arm64.whl (255 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.0-cp313-cp313-macosx_10_13_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 22.4 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl (65 kB)
Downloading pillow-11.3.0-cp313-cp313-macosx_11_0_arm64.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 30.5 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8/8 [seaborn]m7/8 [seaborn]ib]
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.59.0 kiwisolver-1.4.8 matplotlib-3.10.3 pillow-11.3.0 pyparsing-3.2.3 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [16]:
%pip install matplotlib

93278.06s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: packaging>=20.0 in /Users/utkarshtyagi/Library/Python/3.13/lib/python/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/utkarshtyagi/Library/Python/3.13/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/utkarshtyagi/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/Users/utkarshtyagi/Documents/VSC/Dataset/Forbes2000.csv', encoding='latin1')
print(df.head())
# Print first 25 rows
print(df.head(25))

   Unnamed: 0  rank                 name         country  \
0           1     1            Citigroup   United States
1           2     2     General Electric   United States
2           3     3  American Intl Group   United States
3           4     4           ExxonMobil   United States
4           5     5                   BP  United Kingdom

               category   sales  profits   assets  marketvalue
0               Banking   94.71    17.85  1264.03       255.30
1         Conglomerates  134.19    15.59   626.93       328.54
2             Insurance   76.66     6.46   647.66       194.87
3  Oil & gas operations  222.88    20.96   166.99       277.02
4  Oil & gas operations  232.57    10.27   177.57       173.54
    Unnamed: 0  rank                     name                      country  \
0            1     1                Citigroup                United States
1            2     2         General Electric                United States
2            3     3      American Intl Group                United States
3            4     4               ExxonMobil                United States
4            5     5                       BP               United Kingdom
5            6     6          Bank of America                United States
6            7     7               HSBC Group               United Kingdom
7            8     8             Toyota Motor                        Japan
8            9     9               Fannie Mae                United States
9           10    10          Wal-Mart Stores                United States
10          11    11                      UBS                  Switzerland
11          12    12                ING Group                  Netherlands
12          13    13  Royal Dutch/Shell Group  Netherlands/ United Kingdom
13          14    14       Berkshire Hathaway                United States
14          15    15          JP Morgan Chase                United States
15          16    16                      IBM                United States
16          17    17                    Total                       France
17          18    18              BNP Paribas                       France
18          19    19   Royal Bank of Scotland               United Kingdom
19          20    20              Freddie Mac                United States
20          21    21          DaimlerChrysler                      Germany
21          22    22             Altria Group                United States
22          23    23            ChevronTexaco                United States
23          24    24                   Pfizer                United States
24          25    25              Wells Fargo                United States

                           category   sales  profits   assets  marketvalue
0                           Banking   94.71    17.85  1264.03       255.30
1                     Conglomerates  134.19    15.59   626.93       328.54
2                         Insurance   76.66     6.46   647.66       194.87
3              Oil & gas operations  222.88    20.96   166.99       277.02
4              Oil & gas operations  232.57    10.27   177.57       173.54
5                           Banking   49.01    10.81   736.45       117.55
6                           Banking   44.33     6.66   757.60       177.96
7                 Consumer durables  135.82     7.99   171.71       115.40
8            Diversified financials   53.13     6.48  1019.17        76.84
9                         Retailing  256.33     9.05   104.91       243.74
10           Diversified financials   48.95     5.15   853.23        85.07
11           Diversified financials   94.72     4.73   752.49        54.59
12             Oil & gas operations  133.50     8.40   100.72       163.45
13                        Insurance   56.22     6.95   172.24       141.14
14                          Banking   44.39     4.47   792.70        81.94
15  Technology hardware & equipment   89.13     7.58   104.46       171.54
16             Oil & gas operations  131.64     8.84    87.84       116.64
17                          Banking   47.74     4.73   745.09        59.29
18                          Banking   35.65     4.95   663.45        90.21
19           Diversified financials   46.26    10.09   752.25        44.25
20                Consumer durables  157.13     5.12   195.58        47.43
21             Food drink & tobacco   60.70     9.20    96.18       111.02
22             Oil & gas operations  112.94     7.43    82.36        92.49
23            Drugs & biotechnology   40.36     6.20   120.06       285.27
24                          Banking   31.80     6.20   387.80        97.53

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/Users/utkarshtyagi/Documents/VSC/Dataset/Forbes2000.csv', encoding='latin1')
print(df.head())
# Print first 25 rows
print(df.head(25))
#data quallity report
Test_report= df.describe()
print(Test_report)

   Unnamed: 0  rank                 name         country  \
0           1     1            Citigroup   United States
1           2     2     General Electric   United States
2           3     3  American Intl Group   United States
3           4     4           ExxonMobil   United States
4           5     5                   BP  United Kingdom

               category   sales  profits   assets  marketvalue
0               Banking   94.71    17.85  1264.03       255.30
1         Conglomerates  134.19    15.59   626.93       328.54
2             Insurance   76.66     6.46   647.66       194.87
3  Oil & gas operations  222.88    20.96   166.99       277.02
4  Oil & gas operations  232.57    10.27   177.57       173.54
    Unnamed: 0  rank                     name                      country  \
0            1     1                Citigroup                United States
1            2     2         General Electric                United States
2            3     3      American Intl Group                United States
3            4     4               ExxonMobil                United States
4            5     5                       BP               United Kingdom
5            6     6          Bank of America                United States
6            7     7               HSBC Group               United Kingdom
7            8     8             Toyota Motor                        Japan
8            9     9               Fannie Mae                United States
9           10    10          Wal-Mart Stores                United States
10          11    11                      UBS                  Switzerland
11          12    12                ING Group                  Netherlands
12          13    13  Royal Dutch/Shell Group  Netherlands/ United Kingdom
13          14    14       Berkshire Hathaway                United States
14          15    15          JP Morgan Chase                United States
15          16    16                      IBM                United States
16          17    17                    Total                       France
17          18    18              BNP Paribas                       France
18          19    19   Royal Bank of Scotland               United Kingdom
19          20    20              Freddie Mac                United States
20          21    21          DaimlerChrysler                      Germany
21          22    22             Altria Group                United States
22          23    23            ChevronTexaco                United States
23          24    24                   Pfizer                United States
24          25    25              Wells Fargo                United States

                           category   sales  profits   assets  marketvalue
0                           Banking   94.71    17.85  1264.03       255.30
1                     Conglomerates  134.19    15.59   626.93       328.54
2                         Insurance   76.66     6.46   647.66       194.87
3              Oil & gas operations  222.88    20.96   166.99       277.02
4              Oil & gas operations  232.57    10.27   177.57       173.54
5                           Banking   49.01    10.81   736.45       117.55
6                           Banking   44.33     6.66   757.60       177.96
7                 Consumer durables  135.82     7.99   171.71       115.40
8            Diversified financials   53.13     6.48  1019.17        76.84
9                         Retailing  256.33     9.05   104.91       243.74
10           Diversified financials   48.95     5.15   853.23        85.07
11           Diversified financials   94.72     4.73   752.49        54.59
12             Oil & gas operations  133.50     8.40   100.72       163.45
13                        Insurance   56.22     6.95   172.24       141.14
14                          Banking   44.39     4.47   792.70        81.94
15  Technology hardware & equipment   89.13     7.58   104.46       171.54
16             Oil & gas operations  131.64     8.84    87.84       116.64
17                          Banking   47.74     4.73   745.09        59.29
18                          Banking   35.65     4.95   663.45        90.21
19           Diversified financials   46.26    10.09   752.25        44.25
20                Consumer durables  157.13     5.12   195.58        47.43
21             Food drink & tobacco   60.70     9.20    96.18       111.02
22             Oil & gas operations  112.94     7.43    82.36        92.49
23            Drugs & biotechnology   40.36     6.20   120.06       285.27
24                          Banking   31.80     6.20   387.80        97.53
        Unnamed: 0         rank        sales      profits       assets  \
count  2000.000000  2000.000000  2000.000000  1995.000000  2000.000000
mean   1000.500000  1000.500000     9.697010     0.381133    34.041850
std     577.494589   577.494589    18.002592     1.765454    99.678786
min       1.000000     1.000000     0.010000   -25.830000     0.270000
25%     500.750000   500.750000     2.017500     0.080000     4.025000
50%    1000.500000  1000.500000     4.365000     0.200000     9.345000
75%    1500.250000  1500.250000     9.547500     0.440000    22.792500
max    2000.000000  2000.000000   256.330000    20.960000  1264.030000

       marketvalue
count  2000.000000
mean     11.877655
std      24.460197
min       0.020000
25%       2.720000
50%       5.150000
75%      10.602500
max     328.540000

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/Users/utkarshtyagi/Documents/VSC/Dataset/Forbes2000.csv', encoding='latin1')
print(df.head())
# Print first 25 rows
print(df.head(25))
#data quallity report
Test_report= df.describe()
print(Test_report)
#drop rows with missing values
Test_report.dropna(inplace=True)
print(Test_report)