##MSBA Bootcamp

#Import the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read the CSV file
df = pd.read_csv('/Users/utkarshtyagi/Documents/VSC/Dataset/Forbes2000.csv', encoding='latin1')
print(df.head())
# Print first 25 rows
print(df.head(25))
#data quallity report
Test_report= df.describe()
print(Test_report)

   Unnamed: 0  rank                 name         country  \
0           1     1            Citigroup   United States
1           2     2     General Electric   United States
2           3     3  American Intl Group   United States
3           4     4           ExxonMobil   United States
4           5     5                   BP  United Kingdom

               category   sales  profits   assets  marketvalue
0               Banking   94.71    17.85  1264.03       255.30
1         Conglomerates  134.19    15.59   626.93       328.54
2             Insurance   76.66     6.46   647.66       194.87
3  Oil & gas operations  222.88    20.96   166.99       277.02
4  Oil & gas operations  232.57    10.27   177.57       173.54
    Unnamed: 0  rank                     name                      country  \
0            1     1                Citigroup                United States
1            2     2         General Electric                United States
2            3     3      American Intl Group                United States
3            4     4               ExxonMobil                United States
4            5     5                       BP               United Kingdom
5            6     6          Bank of America                United States
6            7     7               HSBC Group               United Kingdom
7            8     8             Toyota Motor                        Japan
8            9     9               Fannie Mae                United States
9           10    10          Wal-Mart Stores                United States
10          11    11                      UBS                  Switzerland
11          12    12                ING Group                  Netherlands
12          13    13  Royal Dutch/Shell Group  Netherlands/ United Kingdom
13          14    14       Berkshire Hathaway                United States
14          15    15          JP Morgan Chase                United States
15          16    16                      IBM                United States
16          17    17                    Total                       France
17          18    18              BNP Paribas                       France
18          19    19   Royal Bank of Scotland               United Kingdom
19          20    20              Freddie Mac                United States
20          21    21          DaimlerChrysler                      Germany
21          22    22             Altria Group                United States
22          23    23            ChevronTexaco                United States
23          24    24                   Pfizer                United States
24          25    25              Wells Fargo                United States

                           category   sales  profits   assets  marketvalue
0                           Banking   94.71    17.85  1264.03       255.30
1                     Conglomerates  134.19    15.59   626.93       328.54
2                         Insurance   76.66     6.46   647.66       194.87
3              Oil & gas operations  222.88    20.96   166.99       277.02
4              Oil & gas operations  232.57    10.27   177.57       173.54
5                           Banking   49.01    10.81   736.45       117.55
6                           Banking   44.33     6.66   757.60       177.96
7                 Consumer durables  135.82     7.99   171.71       115.40
8            Diversified financials   53.13     6.48  1019.17        76.84
9                         Retailing  256.33     9.05   104.91       243.74
10           Diversified financials   48.95     5.15   853.23        85.07
11           Diversified financials   94.72     4.73   752.49        54.59
12             Oil & gas operations  133.50     8.40   100.72       163.45
13                        Insurance   56.22     6.95   172.24       141.14
14                          Banking   44.39     4.47   792.70        81.94
15  Technology hardware & equipment   89.13     7.58   104.46       171.54
16             Oil & gas operations  131.64     8.84    87.84       116.64
17                          Banking   47.74     4.73   745.09        59.29
18                          Banking   35.65     4.95   663.45        90.21
19           Diversified financials   46.26    10.09   752.25        44.25
20                Consumer durables  157.13     5.12   195.58        47.43
21             Food drink & tobacco   60.70     9.20    96.18       111.02
22             Oil & gas operations  112.94     7.43    82.36        92.49
23            Drugs & biotechnology   40.36     6.20   120.06       285.27
24                          Banking   31.80     6.20   387.80        97.53
        Unnamed: 0         rank        sales      profits       assets  \
count  2000.000000  2000.000000  2000.000000  1995.000000  2000.000000
mean   1000.500000  1000.500000     9.697010     0.381133    34.041850
std     577.494589   577.494589    18.002592     1.765454    99.678786
min       1.000000     1.000000     0.010000   -25.830000     0.270000
25%     500.750000   500.750000     2.017500     0.080000     4.025000
50%    1000.500000  1000.500000     4.365000     0.200000     9.345000
75%    1500.250000  1500.250000     9.547500     0.440000    22.792500
max    2000.000000  2000.000000   256.330000    20.960000  1264.030000

       marketvalue
count  2000.000000
mean     11.877655
std      24.460197
min       0.020000
25%       2.720000
50%       5.150000
75%      10.602500
max     328.540000

In [3]:
#drop rows with missing values
Test_report.dropna(inplace=True)
print(Test_report)

        Unnamed: 0         rank        sales      profits       assets  \
count  2000.000000  2000.000000  2000.000000  1995.000000  2000.000000
mean   1000.500000  1000.500000     9.697010     0.381133    34.041850
std     577.494589   577.494589    18.002592     1.765454    99.678786
min       1.000000     1.000000     0.010000   -25.830000     0.270000
25%     500.750000   500.750000     2.017500     0.080000     4.025000
50%    1000.500000  1000.500000     4.365000     0.200000     9.345000
75%    1500.250000  1500.250000     9.547500     0.440000    22.792500
max    2000.000000  2000.000000   256.330000    20.960000  1264.030000

       marketvalue
count  2000.000000
mean     11.877655
std      24.460197
min       0.020000
25%       2.720000
50%       5.150000
75%      10.602500
max     328.540000